/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body {
  font-family: 'Arial', sans-serif;
}
/* 말풍선 스타일 */
.balloon {
  position: fixed;
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.75); /* 반투명한 검은색 배경 */
  color: white;
  border-radius: 8px;
  font-size: 12px;
  pointer-events: none; /* 말풍선이 클릭 등의 이벤트를 방해하지 않도록 설정 */
  z-index: 9999;
  white-space: nowrap; /* 말풍선 안에 텍스트가 한 줄에 표시되도록 설정 */
  transition: transform 0.1s ease, opacity 0.1s ease;
}
